@model ProyectoParqueoFinal.ViewModels.CambioPasswordVM
@{
	Layout = null;
}
<html style="background-color: blueviolet;">
<head>
    <title>Cambio de Contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color: blueviolet;">
    <div class="container">
        <div class="row mt-5 justify-content-center" style="background-color: blueviolet;">
            <div class="col-sm-12 col-md-8 col-lg-5">
                <h1 class="text-center">Cambio de contraseña</h1>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Cambie la contraseña actual</h3>
                    </div>
                    <div class="card-body">
                        <form asp-controller="CambioPassword" asp-action="CambiarPassword" method="post">
                            <input type="hidden" asp-for="CorreoElectronico" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña actual" asp-for="PasswordActual" required />
                            <input class="form-control mb-3" type="password" placeholder="Nueva Contraseña" asp-for="NuevoPassword" required />
                            <input class="form-control mb-3" type="password" placeholder="Confirme su nueva Contraseña" asp-for="ConfirmacionNuevoPassword" required />
                            <button class="btn btn-primary btn-block" type="submit">Cambiar contraseña</button>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger mt-3" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>